/* Colour Scheme */
:root,
:host,
[data-bs-theme=light] {
  --tblr-primary: #80171C;
  --tblr-primary-rgb: 128, 23, 28;
  --tblr-primary-darken: #942C2D;
  --tblr-primary-rgb: 148, 44, 45;
  --tblr-secondary: #62636C;
  --tblr-secondary-rgb: 98, 99, 108;
}

/* Elements CSS */
* {
  scrollbar-color: auto;
}

@media (min-width: 992px) {
  :root, :host {
    margin-left: 0;
    margin-right: 0;
  }
}

body {
  background-color: #FFFFFF;
}

.navbar {
  background: #FFFFFF;
  width: 100%;
  position: fixed;
  --tblr-navbar-hover-color: var(--tblr-primary);
  z-index: 999;
}

main {
  padding-top: 56px;
}