<div class="page-wrapper">
  <div class="container">
    <div class="m-5">
      <!-- Header -->
      <div class="page-header">
        <div class="row align-items-center mw-100">
          <div class="col">
            <div class="mb-1">
              {{ partial "breadcrumbs.html" . }}
            </div>
            <h1>{{ .Title }}</h1>
          </div>
        </div>
      </div>
      <!-- Content -->
      {{ .Content }}
      <!-- Pagination -->
      <ul class="pagination">
        <li class="page-item page-prev">
          {{ $pages := .CurrentSection.Pages.ByWeight }}
          {{ with $pages.Next . }}
            <a class="page-link" href="{{ .RelPermalink }}">
              <div class="page-item-subtitle">Previous</div>
              <div class="page-item-title">{{ .Title }}</div>
            </a>
          {{ end }}
        </li>
        <li class="page-item page-next">
          {{ with $pages.Prev . }}
            <a class="page-link" href="{{ .RelPermalink }}">
              <div class="page-item-subtitle">Next</div>
              <div class="page-item-title">{{ .Title }}</div>
            </a>
          {{ end }}
        </li>
      </ul>
    </div>
  </div>
</div>    