<header class="navbar navbar-expand-md d-print-none">
  <div class="container-xl">
    <div class="navbar-brand navbar-expand-md" style="height: 48px">
      <a href="{{ relLangURL "" }}"><img src="/img/logo/logo.png" class="img-fluid" alt="LGDXRobot Logo" style="height: 32px"/></a>
    </div>
    <ul
      class="navbar-nav collapse navbar-collapse justify-content-end" id="navbar-menu">
      <li class="nav-item">
        <a class="nav-link" href="/"><span class="nav-link-title">Home</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://lgdxrobot.bristolgram.uk/"><span class="nav-link-title">LGDXRobot Website</span></a>
      </li>
    </ul>
  </div>
</header>
