{{ $bookSection := default "" .Site.Params.BookSection  }}
{{ if eq $bookSection "*" }}
  {{ $bookSection = "/" }}{{/* Backward compatibility */}}
{{ end }}

{{ with .Site.GetPage $bookSection }}
  {{ $currentSection := $.Section }}
  {{ $pages := partialCached "prev-next-cache" .Pages }}
  {{ $prev := $pages.Next $ }}
  {{ $next := $pages.Prev $ }}

  {{- if or $prev $next }}
  <ul class="pagination">
    <li class="page-item page-prev">
    {{ with $prev }}
      {{ if eq $prev.Section $currentSection }}
        <a class="page-link" href="{{ .RelPermalink }}">
          <div class="row align-items-center">
            <div class="col-auto">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-1"><path d="M15 6l-6 6l6 6"></path></svg>
            </div>
            <div class="col">
                <div class="page-item-subtitle">Previous</div>
                <div class="page-item-title">{{ .Title }}</div>
            </div>
          </div>
        </a>
      {{ end }}
    {{ end }}
    </li>
    <li class="page-item page-next">
    {{ with $next }}
      {{ if eq $next.Section $currentSection }}
        <a class="page-link" href="{{ .RelPermalink }}">
          <div class="row align-items-center">
            <div class="col">
                <div class="page-item-subtitle">Next</div>
                <div class="page-item-title">{{ .Title }}</div>
            </div>
            <div class="col-auto">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-1"><path d="M9 6l6 6l-6 6"></path></svg>
            </div>
          </div>
        </a>
      {{ end }}
    {{ end }}
    </li>
  </ul>
  {{ end -}}
{{ end }}