<div class="col-3 border-end">
  <div class="py-5">
    <!-- Section Title -->
    <h3>{{ .currentSection.Title }} Documentation</h3>
    <ul class="nav flex-column nav-pills">
      {{ $isActive := eq .currentSection.Permalink $.currentPage.Permalink }}
      <li class="nav-item">
        <a class="nav-link{{ if $isActive }} active{{ end }}" href="{{ .currentSection.RelPermalink }}">Home</a>
      </li>
    </ul>
    <!-- Section Documentation -->
    {{ range .currentSection.Sections }}
      <h3 class="mt-4">{{ .Title }}</h3>
      <ul class="nav flex-column nav-pills">
        {{ range .Pages }}
          {{ $isActive := eq .Permalink $.currentPage.Permalink }}
          <li class="nav-item">
            <a class="nav-link{{ if $isActive }} active{{ end }}" href="{{ .RelPermalink }}">{{ .Title }}</a>
          </li>
        {{ end }}
      </ul>
    {{ end }}
  </div>
</div>