{{ define "main" }}
{{ partial "navbar.html" (dict "currentSection" . "currentPage" .) }}

<div id="page">
  <div class="container">
    <div class="px-5 py-5">
      {{ .Content }}
      <div class="row row-deck mt-4">
        {{ range .Sections }}
          <div class="col-6">
            <div class="card h-100">
              <div class="card-body d-flex flex-column">
                <h3 class="card-title">{{ .Title }}</h3>
                <p class="text-secondary flex-fill">{{ .Description }}</p>
                {{ with .Params.homepage }}
                  <p><a href="{{ . }}">Project website</a></p>
                {{ end }}
                <a class="btn btn-primary" href="{{ .RelPermalink }}">Learn more</a>
              </div>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </div>  
</div>  
{{ end }}
